### ignore #########################################################################################

*.ignore

### BOOT ###########################################################################################

/.boot/

### LEININGEN ######################################################################################

.lein-*

### MAVEN ##########################################################################################

*.jar
*.war
pom.xml

### NREPL ##########################################################################################

.repl-*
.nrepl-*

### OSX ############################################################################################

.DS_Store

### EMACS ##########################################################################################

[#]*[#]

### VIM ############################################################################################

*.swn
*.swo
*.swp

### PROJECT ########################################################################################

/log/
/tgt/
